.main {
  width: 60%;
  margin: 0 auto;
  background-color: #FFF;

  .login, .signup {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;

    button {
      background-color: #BC8363;
      border-radius: 8px;
      border: 0;
      padding: 20px;
      font-size: 13px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      margin: 10px 0;
      border-radius: 8px;
      border: 1px solid #E9ECEF;
      padding: 15px 20px;
    }
  }
}