<div class="content">
  <div class="main">
    <div class="header">
      <img src="../assets/header.png" alt="">
    </div>

    <div *ngIf="showLogin" class="login">
      <h2>Login</h2>
      <p>Welcome back!<br />
      Please login to continue.</p>
      <form>
        <mat-form-field appearance="outline">
          <mat-label><span class="material-icons">email</span> Email address</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Your email address">
          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label><span class="material-icons">lock</span> Password</mat-label>
          <input type="password" matInput [formControl]="passwordFormControl" placeholder="Enter your password">
          @if (passwordFormControl.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <button>Login</button>
      </form>
      <p class="link">Forgot Password</p>
    </div>

    <div *ngIf="!showLogin" class="signup">
      <h2>Create Account</h2>
      <p>Enter your information below or <br />
        continue with social media account.</p>
      <form>
        <mat-form-field appearance="outline">
          <mat-label><span class="material-icons">email</span> Email address</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Your email address">
          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label><span class="material-icons">phone_iphone</span> Mobile Number</mat-label>
          <input type="tel" matInput [formControl]="mobileNumberFormControl" placeholder="Your email address">
          @if (mobileNumberFormControl.hasError('required')) {
            <mat-error>Mobile Number is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label><span class="material-icons">lock</span> Password</mat-label>
          <input type="password" matInput [formControl]="passwordFormControl" placeholder="Enter your password">
          @if (passwordFormControl.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <button (click)="change()">Create Account</button>
      </form>
    </div>

    <div class="rodape">
      <p>Or Continue with Social Accounts</p>
      <div class="social">
        <div class="social-media">
          <img src="https://i.imgur.com/uDSonTd.png" alt="Google Logo">
        </div>
        <div class="social-media">
          <img src="https://i.imgur.com/chWWxC1.png" alt="Facebook Logo">
        </div>
        <div class="social-media">
          <img src="https://i.imgur.com/09pAPoF.png" alt="Apple Logo">
        </div>
        <div class="social-media">
          <img src="https://i.imgur.com/JoC2ENc.png" alt="Twitter Logo">
        </div>
      </div>
      <p *ngIf="showLogin">Don't have an account? <span class="link" (click)="change()">Create Now</span></p>
      <p *ngIf="!showLogin">Already have an account? <span class="link" (click)="change()">Login Now</span></p>
    </div>
  </div>
</div>